<h1>Redes sociales mas usadas</h1>
<hr>
<div *ngIf="doughnutChartData.length === 0; else divgrafica" class="alert alert-info">
cargando data soporta...

</div>
<div class="row">
    <div class="col">
        <ng-template #divgrafica>
<div>
    <canvas baseChart 
    [data]="doughnutChartData"
    [labels]="doughnutChartLabels"
    [chartType]="doughnutChartType"
    [colors]="colors">
</canvas></div>
            <span>Info en millones de usuarios</span>
        </ng-template>
        
      
    </div>
</div>